simplejson==3.8.2
wheel==0.24.0
beautifulsoup4==4.3.2
Pillow==2.5.1
PyYAML==3.11
cssselect==0.9.1
lxml==3.3.5
nltk==2.0.5
requests==2.6.0
six==1.7.3
jieba==0.35
feedparser==5.1.3
tldextract==1.5.1
feedfinder2==0.0.1
python-dateutil==2.4.0

-e git+https://github.com/news-ai/newspaper@95297299b0a4db17e32b4a2d67533742de0ed876#egg=newspaper-origin_python-2-head