<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <div ng-if="currentArticle">
        <section id="currentArticle">
            <table>
                <p>{{articles.length}} left</p>
                <td id="{{currentArticle.CompanyId}}">
                    <b>{{currentArticle.Company}}</b><br>
                    <p><a href="#" ng-click="removeArticle(currentArticle.CompanyId,currentArticle.url)">Remove</a>, <a href="#" ng-click="approveArticle(currentArticle.CompanyId,currentArticle.url, 'positive')">Positive</a>, <a href="#" ng-click="approveArticle(currentArticle.CompanyId,currentArticle.url, 'neutral')">Neutral</a>, <a href="#" ng-click="approveArticle(currentArticle.CompanyId,currentArticle.url, 'negative')">Negative</a></p>
                    <p><b>Article URL</b>: {{currentArticle.url}}</p>
                    <p><b>Article Name</b>: <a target="_blank" href="{{currentArticle.url}}">{{currentArticle.name}}</a></p>
                    <p><b>Top Sentence</b>: {{currentArticle.topsentence}}</p>
                    <p><b>Summary</b>: {{currentArticle.basic_summary}}</p>
                    <p><b>Opening paragraph</b>: {{currentArticle.opening_paragraph}}</p>
                    <p><b>Keywords</b>: {{currentArticle.keywords.join(', ')}}</p>
                    <p><b>Text</b>: {{currentArticle.Text}}</p>
                </td>
            </table>
        </section>
    </div>
    <div ng-if="!currentArticle">
        <table ng-if="articlesApproved.length > 1">
            <div ng-repeat="article in articlesApproved">
                <b>{{article.Company}}</b>
                <p><b>Article Name: </b><a target="_blank" href="{{article.url}}">{{article.name}}</a></p>
                <p><b>Number of positive, neutral, negative</b>: {{article.numpositive}}, {{article.numneutral}}, {{article.numnegative}}</p>
                <p><a href="#" ng-click="removeArticle(article.CompanyId,article.url)">Remove</a>, <a href="#" ng-click="approveArticle(article.CompanyId,article.url, 'positive')">Positive</a>, <a href="#" ng-click="approveArticle(article.CompanyId,article.url, 'neutral')">Neutral</a>, <a href="#" ng-click="approveArticle(article.CompanyId,article.url, 'negative')">Negative</a></p>
            </div>
        </table>
    </div>
</div