<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <div ng-if="currentArticle">
        <section id="currentArticle">
            <table>
                <p>{{articles.length}} left</p>
                <td id="{{currentArticle.CompanyId}}">
                    <b>{{currentArticle.Company}}</b><br>
                    <p><a href="#" ng-click="removeArticle(currentArticle.CompanyId,currentArticle.url)">Remove</a>, <a href="#" ng-click="approveArticle(currentArticle.CompanyId,currentArticle.url)">Approve</a></p>
                    <p><b>Article Name: </b><a target="_blank" href="{{currentArticle.url}}">{{currentArticle.name}}</a></p>
                    <p><b>Top Sentence</b>: {{currentArticle.topsentence}}</p>
                    <p><b>Summary</b>: {{currentArticle.basic_summary}}</p>
                    <p><b>Opening paragraph</b>: {{currentArticle.opening_paragraph}}</p>
                    <p><b>Keywords</b>: {{currentArticle.keywords.join(', ')}}</p>
                </td>
            </table>
        </section>
    </div>
    <div ng-if="!currentArticle">
        <p>No more</p>
    </div>
</div